<IfModule mod_rewrite.c>
    RewriteEngine On

    # Preserve Authorization header.
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # If the request is not already under a /public path, route it there.
    RewriteCond %{REQUEST_URI} !^(.*/)?public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
